h1{
  font-size: 60px ;
  color : rgb(255, 255, 255) ;
  text-align: center;
  font-style:oblique;
  font-weight: bold;
  background-color: rgb(3, 146, 146) ;
}
ol , ul{
  padding : 20px ;
}

a{
    
  text-decoration: none ;
  padding: 20px ;
  font-weight: bolder;
  color :red ;
}

footer{
  color: aqua ;
  font-weight:bolder ;
  font-style :italic ;
  position : fixed ;
  top : 600px ;
  right : 20px ;
}

main{

color: powderblue ;
}
body{
  background-color: darkslategray ;
}