h1{
  text-align: center;
  background-color: blueviolet;
}
a{
  text-decoration: none ;
  border-style: outset ;
  padding: 7px ;
  font-weight: bold;
  color :rgb(186, 189, 26) ;
}
footer{
  text-align: center;
  background-color: blueviolet;
  color :black;

}
p{
  text-align: center;
color: chartreuse;
}
body{
  background-color: black;
}